.user-info {
    box-shadow:  0px 5px 10px 2px rgba(0,0,0,0.2);
    margin: 10px auto;
    padding: 40px;
    display: flex;
    border-radius: 10px;
}

.image {
    width: 30%;
    margin-right: 40px;
    
}

.image .profile-image {
    height: 150px;
    background-position: center;
    border-radius: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}

.information {
    width: 70%;
    text-align: left;
    display: flex;
}

.general-info {
    width: 50%;
}
.contact-info {
    margin-top: 20px;
    width: 50%;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    color: #fff;
}

.btn-add {
    background-color: #386fe5;
}

.btn-add:hover {
    background-color: #2b5cc5;
}

.btn-block {
    background-color: red;
}

.btn-block:hover {
    background-color: rgb(155, 16, 16);
}

.faIcons {
    color: #386fe5;
    margin-right: 5px;
}