.logo {
    height: 200px;
    margin: 0 auto;
}

nav {
    background-color: #386fe5;
    color: white;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 400px;
    padding: 10px;
}

nav a:hover {
    background-color: white;
    color: #386fe5;
    font-weight: 800px;
    padding: 10px;
}